:root {
    --app-primary-color: #ADFF2F;
    --app-color-lighter: #fff;
    --app-color-light: #7b7e82;
    --bg-primary-color: #141922;
    --bg-secondary-color-dark: #000000;
    --bg-secondary-color-light: #282828;
    --bg-secondary-color-lighter: #a3a3a3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */
.row {
    flex-wrap: wrap;
    align-items: stretch;
}

.col {
    flex-basis: auto;
}

.col-lg-1 {
    width: calc(100% / 12 * 1);
}

.col-lg-2 {
    width: calc(100% / 12 * 2);
}

.col-lg-3 {
    width: calc(100% / 12 * 3);
}

.col-lg-4 {
    width: calc(100% / 12 * 4);
}

.col-lg-5 {
    width: calc(100% / 12 * 5);
}

.col-lg-6 {
    width: calc(100% / 12 * 6);
}

.col-lg-7 {
    width: calc(100% / 12 * 7);
}

.col-lg-8 {
    width: calc(100% / 12 * 8);
}

.col-lg-9 {
    width: calc(100% / 12 * 9);
}

.col-lg-10 {
    width: calc(100% / 12 * 10);
}

.col-lg-11 {
    width: calc(100% / 12 * 11);
}

.col-lg-12 {
    width: calc(100% / 12 * 12);
}

.d-flex {
    display: flex;
}

/* Generics */
body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

/* Debug */
.debug {
    * {
        border: 1px dashed black;
    }

    .wrapper {
        background-color: red;

        .top {
            background-color: gray;

            .left {
                background-color: blue;

                .logo {
                    background-color: aqua;
                }

                nav {
                    .nav-top {
                        li {
                            background-color: bisque;
                            height: 35px;
                        }

                        .playlists {
                            span {
                                background-color: white;
                            }

                            .create-playlist {
                                height: 45px;
                                background-color: azure;
                            }
                        }
                    }

                    .nav-bottom {
                        .download-app {
                            height: 20px;
                            background-color: bisque;
                        }

                        .user-profile {
                            height: 40px;
                            background-color: aquamarine;
                        }
                    }
                }
            }

            .right {
                background-color: green;

                .header {
                    background-color: brown;

                    .upgrade {}
                }

                .card {
                    height: 200px;
                    background-color: chocolate;
                }
            }
        }

        .bottom {
            background-color: black;

            .left {
                background-color: cornflowerblue;
            }

            .center {
                background-color: crimson;
            }

            .right {
                background-color: darkmagenta;
            }
        }
    }
}

.wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .top {
        height: calc(100% - 70px);

        .left {
            width: 230px;
            height: 100%;
            background-color: var(--bg-secondary-color-dark);

            .logo {
                height: 85px;
                padding: 1rem;

                .logo-lg {
                    width: 150px;
                }

                .logo-sm {
                    display: none;
                    width: 80%;
                }
            }

            nav {
                height: 100%;
                flex-direction: column;
                justify-content: space-between;
                color: var(--app-color-lighter);

                .nav-top {
                    li {
                        display: flex;
                        align-items: center;
                        height: 35px;
                        padding: 0 1rem;
                    }

                    .navigation {
                        a {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            text-decoration: none;
                            font-weight: 700;
                            color: var(--app-color-light);

                            img {
                                width: 20px;
                            }
                        }

                        a:hover {
                            color: var(--app-color-lighter);
                        }

                        li:first-of-type {
                            border-left: 2px solid var(--app-primary-color);

                            a {
                                color: var(--app-color-lighter);
                            }
                        }
                    }

                    .playlists {
                        margin: 2rem 0;

                        h2 {
                            font-size: 1rem;
                            font-weight: 700;
                            padding: 0 1rem;
                        }

                        .create-playlist {
                            align-items: center;
                            gap: 8px;
                            padding: 1rem;

                            .add {
                                width: 37px;
                                height: 37px;
                                justify-content: center;
                                align-items: center;
                                color: var(--bg-secondary-color-dark);
                                background-color: var(--bg-secondary-color-lighter);
                            }

                            span {
                                font-weight: 400;
                                color: var(--app-color-light);
                            }
                        }

                        a {
                            text-decoration: none;
                            color: var(--app-color-light);
                        }
                    }
                }
            }
        }

        .right {
            width: calc(100% - 230px);
            height: 100%;
            overflow-y: auto;
            background-color: var(--bg-primary-color);

            .header {
                padding: 1.2rem 1rem;
                justify-content: flex-end;
                height: 85px;
                position: sticky;
                top: 0;
                left: 0;
            }

            .row {
                width: 100%;
            }
        }
    }

    .bottom {
        height: 70px;
        justify-content: stretch;
        background-color: var(--bg-secondary-color-light);

        .left,
        .center,
        .right {
            width: 100%;
            height: 100%;
        }
    }
}

main {
    color: white;
}







/* Responsive Rules */
@media screen and (max-width: 992px) {
    .col-md-1 {
        width: calc(100% / 12 * 1);
    }

    .col-md-2 {
        width: calc(100% / 12 * 2);
    }

    .col-md-3 {
        width: calc(100% / 12 * 3);
    }

    .col-md-4 {
        width: calc(100% / 12 * 4);
    }

    .col-md-5 {
        width: calc(100% / 12 * 5);
    }

    .col-md-6 {
        width: calc(100% / 12 * 6);
    }

    .col-md-7 {
        width: calc(100% / 12 * 7);
    }

    .col-md-8 {
        width: calc(100% / 12 * 8);
    }

    .col-md-9 {
        width: calc(100% / 12 * 9);
    }

    .col-md-10 {
        width: calc(100% / 12 * 10);
    }

    .col-md-11 {
        width: calc(100% / 12 * 11);
    }

    .col-md-12 {
        width: calc(100% / 12 * 12);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-1 {
        width: calc(100% / 12 * 1);
    }

    .col-sm-2 {
        width: calc(100% / 12 * 2);
    }

    .col-sm-3 {
        width: calc(100% / 12 * 3);
    }

    .col-sm-4 {
        width: calc(100% / 12 * 4);
    }

    .col-sm-5 {
        width: calc(100% / 12 * 5);
    }

    .col-sm-6 {
        width: calc(100% / 12 * 6);
    }

    .col-sm-7 {
        width: calc(100% / 12 * 7);
    }

    .col-sm-8 {
        width: calc(100% / 12 * 8);
    }

    .col-sm-9 {
        width: calc(100% / 12 * 9);
    }

    .col-sm-10 {
        width: calc(100% / 12 * 10);
    }

    .col-sm-11 {
        width: calc(100% / 12 * 11);
    }

    .col-sm-12 {
        width: calc(100% / 12 * 12);
    }
}

@media screen and (max-width: 576px) {
    .wrapper {
        .top {
            .left {
                width: 50px;
                height: 100%;

                .logo {
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                    padding: 0.5rem 0.4rem;

                    .logo-lg {
                        display: none;
                    }

                    .logo-sm {
                        display: inline-block;
                    }
                }

                .playlists {
                    display: none;
                }

                .download-app {
                    a {
                        display: none;
                    }
                }

                nav {
                    .nav-top {
                        li {
                            padding: 0.5rem 0.4rem;
                            height: 40px;
                        }

                        .navigation {
                            a {
                                justify-content: center;

                                span {
                                    display: none;
                                }

                                img {
                                    width: 80%;
                                }
                            }

                            li:first-of-type {
                                border-left: transparent;
                            }
                        }
                    }
                }
            }

            .right {
                width: calc(100% - 50px);
            }
        }
    }
}