* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */
.d-flex {
    display: flex;
}

/* Generics */

/* Debug */
.debug {
    * {
        border: 1px dashed black;
    }

    .wrapper {
        background-color: red;

        .top {
            background-color: gray;

            .left {
                background-color: blue;

                .logo {
                    background-color: aqua;
                }

                nav {
                    .nav-top {
                        li {
                            background-color: bisque;
                            height: 35px;
                        }

                        .playlists {
                            span {
                                background-color: white;
                            }

                            .create-playlist {
                                height: 45px;
                                background-color: azure;
                            }
                        }
                    }

                    .nav-bottom {
                        .download-app {
                            height: 20px;
                            background-color: bisque;
                        }

                        .user-profile {
                            height: 40px;
                            background-color: aquamarine;
                        }
                    }
                }
            }

            .right {
                background-color: green;
            }
        }

        .bottom {
            background-color: black;
        }
    }
}

.wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .top {
        height: calc(100% - 70px);

        .left {
            width: 230px;
            height: 100%;

            .logo {
                height: 85px;
            }

            nav {
                height: 100%;
                flex-direction: column;
                justify-content: space-between;

                .nav-top {
                    li {
                        height: 35px;
                    }
                }
            }
        }

        .right {
            width: calc(100% - 230px);
            height: 100%;
            overflow-y: auto;
        }
    }

    .bottom {
        height: 70px;
    }
}

main {
    color: white;
}