* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */
.d-flex {
    display: flex;
}

/* Generics */

/* Debug */
.debug {
    * {
        border: 1px dashed black;
    }

    .wrapper {
        background-color: red;

        .top {
            background-color: gray;

            .left {
                background-color: blue;

                .logo {
                    background-color: aqua;
                }

                nav {
                    li {
                        background-color: bisque;
                    }
                }
            }

            .right {
                background-color: green;
            }
        }

        .bottom {
            background-color: black;
        }
    }
}

.wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .top {
        height: calc(100% - 70px);

        .left {
            width: 230px;
            height: 100%;

            .logo {
                height: 85px;
            }

            nav {
                flex-direction: column;
                justify-content: space-between;


                li {
                    height: 35px;
                }

                .playlists {
                    span {
                        background-color: white;
                    }

                    .create-playlist {
                        height: 45px;
                        background-color: azure;
                    }
                }
            }
        }

        .right {
            width: calc(100% - 230px);
            height: 100%;
            overflow-y: auto;
        }
    }

    .bottom {
        height: 70px;
    }
}

main {
    color: white;
}