@import url(../style.css);

.container {
    background-color: transparent;
}

.album-details {
    align-items: center;
    gap: 2rem;
    padding: 2rem 2rem;
    background: #56bd42;
    background: linear-gradient(180deg, rgba(86, 189, 66, 0.107) 0%, rgba(44, 145, 86, 0.16) 50%, rgba(31, 30, 18, 0) 100%);

    .album-picture {
        width: 250px;
        box-shadow: 2px 2px 30px black;
    }

    .album-picture:hover {
        scale: 105%;
    }

    .album-info {
        flex-direction: column;
        gap: 10px;

        h2 {
            font-size: 4rem;
            font-weight: 800;
            line-height: 4rem;
        }

        .author {
            align-items: center;
            gap: 10px;
            color: var(--app-color-light);

            img {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: gray;
            }

            span {
                font-weight: 400;
            }

            span:first-of-type {
                font-weight: 700;
                color: var(--app-color-lighter);
            }
        }
    }
}

.actions-menu {
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    font-size: 2rem;
    color: var(--app-color-light);

    .actions-left {
        align-items: center;
        gap: 20px;


        i:hover {
            cursor: pointer;
            color: var(--app-color-lighter);
            scale: 105%;
        }

        .play {
            font-size: 3.5rem;
            color: var(--app-primary-color);
        }

        .play:hover {
            color: var(--app-primary-color);
        }
    }

    .actions-right {
        align-items: center;
        gap: 10px;
        font-size: 0.9rem;
        font-weight: 600;

        .list:hover {
            cursor: pointer;
            color: var(--app-color-lighter);
        }
    }
}

.song-list {
    margin-bottom: 3rem;

    .song-list-header {
        justify-content: space-between;
        margin-top: 2rem;
        padding: 0rem 3rem 0rem 1rem;
        padding-bottom: 1rem;
        border-bottom: 0.2px solid var(--app-color-light);
        color: var(--app-color-light);

        .title {
            gap: 20px;
            font-weight: 600;
        }
    }

    .song-list-body {
        li {
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2.5rem 1rem 1rem;
            margin: 0.5rem 0rem;
            color: var(--app-color-light);
            font-weight: 500;

            .list-left {
                align-items: center;
                gap: 20px;

                .fa-play {
                    display: none;
                    color: var(--app-color-lighter);
                }

                .song-info {
                    flex-direction: column;
                    gap: 5px;

                    .song-title {
                        color: var(--app-color-lighter);
                    }

                    .song-title:hover,
                    .song-author:hover {
                        text-decoration: underline;
                    }
                }
            }

            .list-right {
                .fa-plus {
                    display: none;
                    color: var(--app-color-light);
                    margin-right: 10px;
                }

                .fa-plus:hover {
                    color: var(--app-color-lighter);
                }
            }
        }

        li:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.112);
            border-radius: 10px;

            .list-left {
                .fa-play {
                    display: inline-block;
                }

                .song-order {
                    display: none;
                }

                .song-info {

                    .song-title,
                    .song-author {
                        color: var(--app-color-lighter);
                    }
                }
            }

            .list-right {
                .fa-plus {
                    display: inline-block;
                }
            }
        }

    }
}

.album-credits {
    margin-bottom: 3rem;
    flex-direction: column;
    gap: 10px;
    color: var(--app-color-light);
}

@media screen and (max-width: 992px) {
    .album-details {
        font-size: 0.8rem;

        .album-picture {
            width: 200px;
        }

        .album-info {
            gap: 5px;

            h2 {
                font-size: 3rem;
            }

            .author {
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .album-details {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 768px) {
    .album-details {
        flex-direction: column;
        font-size: 0.8rem;
        padding: 2rem 0.5rem;
        width: 100%;

        .album-picture {
            justify-content: start;
        }

        .album-info {
            width: 90%;
        }
    }
}

@media screen and (max-width: 576px) {
    .album-details {
        flex-direction: column;
        font-size: 0.8rem;
        padding: 2rem 0.5rem;
        width: 100%;

        .album-picture {
            justify-content: start;
        }

        .album-info {
            width: 90%;
        }
    }
}